.bookMarkWrapper {
  height: 3rem;
  width: 3rem;
  background-color: var(--heavier-muted);
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.bookMarkAddIcon {
  fill: var(--muted);
}

.bookMarkIcon {
  fill: var(--blue);
}

.animation {
  animation: bubble 300ms;
}

@keyframes bubble {
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}