@keyframes fade-in {
  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}

.watchlistButtonWrapper {
  padding: 10px 0;
  text-align: center;
  border-radius: 3px;
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
  font-size: 1rem;
  transform: translateY(-10px);
  box-sizing: border-box;
  background-color: var(--heavy-muted);
  color: gray;
  opacity: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  animation: fade-in 1s ease-out 0.9s 1 forwards;
}

.watchlistItemNotPresent {
  background-color: var(--cool-green) !important;
  color: var(--primary) !important;
  filter: brightness(0.8);
}

.watchlistTextFormatter {
  display: flex;
  justify-content: center;
  align-items: center;
}