.navBar {
  display: flex;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  padding: 1vh 0;
  bottom: 0;
  background-color: var(--heavier-muted);

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.selectedFirstPart svg {
  stroke: var(--one-color);
}

.selectedSecondPart svg {
  fill: var(--one-color);
}